<h1>Pirate name: <%= @pirate.name %></h1>
  <h2>Weight: <%= @pirate.weight %></h2>
  <h2>Height: <%= @pirate.height %></h2>



    <% @ships.each do |ship| %>
  <h2><%= ship.name %></h2>
  <h2> <%= ship.type %></h2>
  <h2><%= ship.booty %></h2>
  <% end %>
